{% extends 'base.html' %}
{% block title %}Category List{% endblock %}

{% block content %}
{% include 'navbar.html'%}




<main>
  <!-- section-->

  <!-- section -->
  <div class="mt-8 mb-lg-154 mb-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row gx-10">
        <!-- col -->

        <section class="col-lg-9 col-md-12">
          <!-- card -->

      </div>
      <!-- row -->
      <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2">
        <!-- col -->
        {% for product in products %}
        {% if product.is_sale %}
        <div class="col">
          <!-- card -->
          <div class="card card-product">
            <div class="card-body">
              <!-- badge -->
              <div class="text-center position-relative">
                <div class="position-absolute top-0 start-0">
                  <span class="badge" style="background: green;">Sale</span>
                </div>
                <a href="shop-single.html">
                  <!-- img -->
                  <img src="{{product.image.url}}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" />
                </a>
                <!-- action btn -->
                <div class="card-product-action">
                  <a href="{% url 'productdetail' product.id %}" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                    <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i>
                  </a>
                  <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Wishlist"><i class="bi bi-heart"></i></a>
                  <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i
                      class="bi bi-arrow-left-right"></i></a>
                </div>
              </div>
              <!-- heading -->

              <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">{{product.name}}</a>
              </h2>
              <div>
                <!-- rating -->
                <small class="text-warning">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </small>
                <span class="text-muted small">4.5(149)</span>
              </div>
              <!-- price -->
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                  <span class="text-dark">${{product.sale_price}}/-</span>
                  <span class="text-decoration-line-through text-muted">${{product.price}}/-</span>
                  <span>
                    <p style="color: orange;">&nbsp;&nbsp;Stock Avaliable&nbsp;&nbsp;</p>
                  </span>
                </div>
                <!-- btn -->
                <div>
                  <a href="{% url 'productdetail' product.id%}" class="btn btn-primary btn-sm">

                    View Product
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col">
          <!-- card -->
          <div class="card card-product">
            <div class="card-body">
              <!-- badge -->
              <div class="text-center position-relative">
                <div class="position-absolute top-0 start-0">
                  <span class="badge bg-danger">No Sale</span>
                </div>
                <a href="shop-single.html">
                  <!-- img -->
                  <img src="{{product.image.url}}" alt="Grocery Ecommerce Template" class="mb-3 img-fluid" />
                </a>
                <!-- action btn -->
                <div class="card-product-action">
                  <a href="{% url 'productdetail' product.id %}" class="btn-action" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                    <i class="bi bi-eye" data-bs-toggle="tooltip" data-bs-html="true" title="Quick View"></i>
                  </a>
                  <a href="shop-wishlist.html" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Wishlist"><i class="bi bi-heart"></i></a>
                  <a href="#!" class="btn-action" data-bs-toggle="tooltip" data-bs-html="true" title="Compare"><i
                      class="bi bi-arrow-left-right"></i></a>
                </div>
              </div>
              <!-- heading -->

              <h2 class="fs-6"><a href="shop-single.html" class="text-inherit text-decoration-none">{{product.name}}</a>
              </h2>
              <div>
                <!-- rating -->
                <small class="text-warning">
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-half"></i>
                </small>
                <span class="text-muted small">4.5(149)</span>
              </div>
              <!-- price -->
              <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                  <span class="text-dark">${{product.sale_price}}/-</span>
                  <span class="text-decoration-line-through text-muted">${{product.price}}/-</span>
                  <span>
                    <p style="color: red;">&nbsp;&nbsp;Stock Unavaliable&nbsp;&nbsp;</p>
                  </span>

                </div>

                <div>
                  <a href="{% url 'productdetail' product.id%}" class="btn btn-primary btn-sm">

                    View Product
                  </a>
                </div>
              
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <!-- col -->

      </div>
      <div class="row mt-8">
        </section>
      </div>
    </div>
  </div>
</main>

{% include 'footer.html' %}
{% endblock %}