{% extends 'base.html' %}
{% block title %}My Wishlist{% endblock %}
{% block content %}
{% include 'navbar.html'%}

<main>
   <section class="mb-lg-14 mb-8">
      <div class="container">
         <!-- row -->
         <div class="row">
            <div class="col-12">
               <div class="mb-6 d-xl-flex justify-content-between align-items-center">
                  <h2>My Wishlist 💚</h2>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-12">
               <!-- tab -->
               <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-fruitsandveg" role="tabpanel"
                     aria-labelledby="nav-fruitsandveg-tab" tabindex="0">
                     <!-- row -->
                     <div class="row row-cols-2 row-cols-xl-5 row-cols-md-3 g-4">
                        {% if wishlist_items %}
                        {% for item in wishlist_items %}
                        {% with product=item.product %}
                        <div class="col">
                           <!-- card -->
                           <div class="card card-product-v2 h-100">
                              <div class="card-body position-relative">
                                 <!-- badge -->
                                 <div class="text-center position-relative">
                                    <form action="{% url 'remove_from_wishlist' product.id %}" method="post">
                                       {% csrf_token %}
                                       <button type="submit" class="btn btn-sm btn-danger" style="margin-left: 130px;">
                                          <i class="bi bi-trash3"></i>
                                       </button>
                                    </form>
                                    <div class="position-absolute top-0 start-0">
                                       {% if product.is_sale %}
                                       <span class="badge bg-success">Sale</span>
                                       {% else %}
                                       <span class="badge bg-danger">No Sale</span>
                                       {% endif %}
                                    </div>
                                    <!-- img -->
                                    <a href="#!"><img src="{{item.product.image.url}}" alt="Grocery Ecommerce Template"
                                          class="mb-3 img-fluid" /></a>
                                    <!-- action btn -->
                                    <div class="product-action-btn">

                                    </div>
                                 </div>

                                 <!-- title -->
                                 <h2 class="fs-6"><a href="#!"
                                       class="text-inherit text-decoration-none">{{item.product.name}}</a></h2>
                                 <div>
                                    <!-- rating -->
                                    <small class="text-warning">
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-fill"></i>
                                       <i class="bi bi-star-half"></i>
                                    </small>
                                    <span class="text-muted small">4.5(149)</span>
                                 </div>
                                 <!-- price -->
                                 <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div>
                                       <span class="text-danger">${{item.product.sale_price}}</span>
                                       <span
                                          class="text-decoration-line-through text-muted">${{item.product.price}}</span>
                                    </div>
                                    <div><span class="text-uppercase small text-primary">In Stock</span></div>

                                 </div>
                                 <div class="product-fade-block">
                                    <div class="d-grid mt-4">
                                       <a href="{% url 'productdetail' product.id%}"
                                          class="btn btn-primary rounded-pill">View</a>
                                    </div>
                                 </div>
                                 <!-- <form action="{% url 'remove_from_wishlist' product.id %}" method="post" class="mt-5">
                                    {% csrf_token %}
                                    <div class="product-fade-block">
                                       <div class="d-grid mt-4">
                                          <button type="submit" class="btn btn-sm btn-outline-danger px-2 py-1">
                                             Remove from Wishlist
                                          </button>
                                       </div>
                                    </div>
                                 </form> -->

                              </div>
                              <div class="product-content-fade border-info" style="margin-bottom: -60px"></div>
                           </div>
                        </div>

                        {% endwith %}
                        {% endfor %}
                        {% else %}
                        <p>No items in your wishlist yet.</p>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>

   </section>
</main>

{% include 'footer.html' %}
{% endblock %}