{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-M8S4MT3EYG");
</script>
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] =
            c[a] ||
            function () {
                (c[a].q = c[a].q || []).push(arguments);
            };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "kuc8w5o9nt");
</script>
<div class="border-bottom shadow-sm">

</div>

<main>
    <!-- section -->
    <section class="my-lg-14 my-8">
        <div class="container">
            <!-- row -->
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                    <!-- img -->
                    <img src="../../media/uploads/product/signin-g.svg" alt="" class="img-fluid" />
                </div>
   
                <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
                    <div class="mb-lg-9 mb-5">
                        <h1 class="mb-1 h2 fw-bold">Change My Password</h1>
                        <p>Welcome back to super luxury!</p>
                    </div>

                    <form class="needs-validation" novalidate method="POST">
                        {% csrf_token %}
                        <div class="row g-3">

                            <div class="col-12">

                                <div class="password-field position-relative">
                                    <label for="formSigninPassword" class="form-label visually-hidden">Current
                                        Password</label>
                                    <div class="password-field position-relative">
                                        <input type="password" class="form-control fakePassword" name="current_password"
                                            id="formSigninPassword" placeholder="Current Password" required />
                                        <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                                        <div class="invalid-feedback">Please enter password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="password-field position-relative">
                                    <label for="formSigninPassword" class="form-label visually-hidden">Password</label>
                                    <div class="password-field position-relative">
                                        <input type="password" class="form-control fakePassword" name="new_password"
                                            id="formSigninPassword" placeholder="New Password" required />
                                        <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                                        <div class="invalid-feedback">Please enter password.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">

                                <div class="password-field position-relative">
                                    <label for="formSigninPassword" class="form-label visually-hidden">Password</label>
                                    <div class="password-field position-relative">
                                        <input type="password" class="form-control fakePassword" name="confirm_password"
                                            id="formSigninPassword" placeholder="confirm Passowrd" required />
                                        <span><i class="bi bi-eye-slash passwordToggler"></i></span>
                                        <div class="invalid-feedback">Please enter password.</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-grid"><button type="submit" class="btn btn-primary">Change
                                    Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html'%}
</body>

<!-- Mirrored from freshcart.codescandy.com/pages/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Nov 2024 06:08:47 GMT -->

</html>

{% endblock %}