{% block content %}

<header>
    <div class="container">
        <div class="row align-items-center pt-2">
            <div class="col-xl-3 col-lg-8 col-7 d-flex">
                <div class="dropdown selectBox">
                    <a class="dropdown-toggle selectValue text-reset" href="javascript:void(0)"
                        data-bs-toggle="dropdown" aria-expanded="false">USD $</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="javascript:void(0)">USD $</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">EUR €</a></li>
                    </ul>
                </div>
                <div class="ms-6">
                    <div class="dropdown selectBox">
                        <a class="dropdown-toggle selectValue text-reset" href="javascript:void(0)"
                            data-bs-toggle="dropdown" aria-expanded="false">English</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0)">English</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Espa&ntilde;ol</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Fran&ccedil;ais</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-4 col-5 d-md-flex align-items-center justify-content-end">
                <a href="#" class="text-reset">Support</a>
                <a href="#" class="mx-md-8 ms-4 text-reset">Delivery</a>
                <a href="#" class="text-reset d-none d-md-block">Warranty</a>
                <!-- Button -->
            </div>
        </div>
        <div class="row align-items-center pt-6 pb-4 mt-4 mt-lg-0">
            <div class="col-xl-2 col-md-3 mb-4 mb-md-0 col-12 text-center text-md-start">
                <a href="/" style="font-size: 1.5rem;">Super Luxury</a>
            </div>

            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-9">
                <form action="#">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search for products"
                            aria-label="Recipient's username" aria-describedby="button-addon2" />
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-3 d-none d-lg-block">
                <div class="d-flex align-items-center justify-content-between ms-4">
                    <div class="text-center">
                        <div class="dropdown">
                            <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="lh-1">
                                    <div class="position-relative d-inline-block mb-2">
                                        <i class="bi bi-bell fs-4"></i>
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            1
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </div>
                                    <p class="mb-0 d-none d-xl-block small">Notification</p>
                                </div>
                            </a>

                            <div class="dropdown-menu dropdown-menu-lg p-0">
                                <div>
                                    <h6 class="px-4 border-bottom py-3 mb-0">Notification</h6>
                                    <p class="mb-0 px-4 py-3">
                                        <a href="#">Sign in</a>
                                        or
                                        <a href="#">register</a>
                                        in or so you don t have to enter your details every time
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="account-orders.html" class="text-reset">
                            <div class="lh-1">
                                <div class="mb-2">
                                    <i class="bi bi-archive fs-4"></i>
                                </div>
                                <p class="mb-0 d-none d-xl-block small">My Orders</p>
                            </div>
                        </a>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="{% url 'wishlist' %}" class="text-reset">
                            <div class="lh-1">
                                <div class="position-relative d-inline-block mb-2">
                                    <i class="bi bi-heart fs-4"></i>
                                    <span
                                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                        1
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </div>
                                <p class="mb-0 d-none d-xl-block small">Wishlist</p>
                            </div>
                        </a>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="{% url 'cart' %}" class="text-reset">
                            <div class="lh-1">
                                <div class="position-relative d-inline-block mb-2">
                                    <i class="bi bi-cart fs-4"></i>

                                </div>
                                <p class="mb-0 d-none d-xl-block small">Shopping Cart</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light navbar-default p-0 p-sm-0 navbar-offcanvas-color"
    aria-label="Offcanvas navbar large">
    <div class="container">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
            <div class="offcanvas-header pb-1">
                <a href="index.html"><img src="../assets/images/logo/freshcart-logo.svg"
                        alt="eCommerce HTML Template" /></a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul class="navbar-nav align-items-center">
                        <li class="dropdown me-6 d-none d-lg-block">
                            <a href="#" class="text-inherit" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-text-left me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
                                    </path>
                                </svg>
                                All Categories
                            </a>

                            <ul class="dropdown-menu dropdown-menu-lg">
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>
                                           

                                            <span class="ms-1">Street &amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="{% url 'categorylist' 'Nike'%}"
                                                        class="dropdown-item">Nike</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Converse'%}"
                                                        class="dropdown-item">Converse
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Adidas'%}"
                                                        class="dropdown-item">Adidas</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Jordan'%}"
                                                        class="dropdown-item">Jordan</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Puma'%}"
                                                        class="dropdown-item">Puma</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Vans'%}"
                                                        class="dropdown-item">Vans</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Salomon'%}"
                                                        class="dropdown-item">Salomon</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>
                                           

                                            <span class="ms-1">Sport &amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="#" class="dropdown-item"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Nike</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Adidas</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">New Balance</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Asics</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Reebok</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Skechers</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>
                                           

                                            <span class="ms-1">Style&amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Gucci</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">D's Martin</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Converse</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Loewe</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Prada</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Hoka</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Vans</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Golden Goose</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>
                                          

                                            <span class="ms-1">Luxury &amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Gucci</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Balenciaga</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Common
                                                        Projects</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Christian
                                                        Louboutin</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Alexander
                                                        McQueen</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Burberry</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item">Off-White</a>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </li>
                        </li>

                    </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/" aria-expanded="false">Home</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'about'%}" aria-expanded="false">About</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'productlist'%}" aria-expanded="false">Shops</a>

                    </li>
                    <li class="nav-item dropdown dropdown-fullwidth">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Mega menu</a>
                        <div class="dropdown-menu pb-0">
                            <div class="row p-2 p-lg-4">
                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                    <h6 class="text-primary ps-3">Dairy, Bread & Eggs</h6>
                                    <a class="dropdown-item" href="shop-grid.html">Butter</a>
                                    <a class="dropdown-item" href="shop-grid.html">Milk Drinks</a>
                                    <a class="dropdown-item" href="shop-grid.html">Curd & Yogurt</a>
                                    <a class="dropdown-item" href="shop-grid.html">Eggs</a>
                                    <a class="dropdown-item" href="shop-grid.html">Buns & Bakery</a>
                                    <a class="dropdown-item" href="shop-grid.html">Cheese</a>
                                    <a class="dropdown-item" href="shop-grid.html">Condensed Milk</a>
                                    <a class="dropdown-item" href="shop-grid.html">Dairy Products</a>
                                </div>
                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                    <h6 class="text-primary ps-3">Breakfast & Instant Food</h6>
                                    <a class="dropdown-item" href="shop-grid.html">Breakfast Cereal</a>
                                    <a class="dropdown-item" href="shop-grid.html">Noodles, Pasta & Soup</a>
                                    <a class="dropdown-item" href="shop-grid.html">Frozen Veg Snacks</a>
                                    <a class="dropdown-item" href="shop-grid.html">Frozen Non-Veg Snacks</a>
                                    <a class="dropdown-item" href="shop-grid.html">Vermicelli</a>
                                    <a class="dropdown-item" href="shop-grid.html">Instant Mixes</a>
                                    <a class="dropdown-item" href="shop-grid.html">Batter</a>
                                    <a class="dropdown-item" href="shop-grid.html">Fruit and Juices</a>
                                </div>
                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                    <h6 class="text-primary ps-3">Cold Drinks & Juices</h6>
                                    <a class="dropdown-item" href="shop-grid.html">Soft Drinks</a>
                                    <a class="dropdown-item" href="shop-grid.html">Fruit Juices</a>
                                    <a class="dropdown-item" href="shop-grid.html">Coldpress</a>
                                    <a class="dropdown-item" href="shop-grid.html">Water & Ice Cubes</a>
                                    <a class="dropdown-item" href="shop-grid.html">Soda & Mixers</a>
                                    <a class="dropdown-item" href="shop-grid.html">Health Drinks</a>
                                    <a class="dropdown-item" href="shop-grid.html">Herbal Drinks</a>
                                    <a class="dropdown-item" href="shop-grid.html">Milk Drinks</a>
                                </div>
                                <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                                    <div class="card border-0">
                                        <img src="../assets/images/banner/menu-banner.jpg" alt="eCommerce HTML Template"
                                            class="img-fluid" />
                                        <div class="position-absolute ps-6 mt-8">
                                            <h5 class="mb-0">
                                                Dont miss this
                                                <br />
                                                offer today.
                                            </h5>
                                            <a href="#" class="btn btn-primary btn-sm mt-3">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                            <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                            <li><a class="dropdown-item" href="blog-category.html">Blog Category</a></li>
                            <li><a class="dropdown-item" href="about.html">About us</a></li>
                            <li><a class="dropdown-item" href="404error.html">404 Error</a></li>
                            <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Account</a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'logout'%}">Sign Out</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Sign In</a></li>
                            {% endif %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="account-orders.html">Orders</a></li>
                                <li><a class="dropdown-item" href="account-settings.html">Settings</a></li>
                                <li><a class="dropdown-item" href="account-address.html">Address</a></li>
                                <li><a class="dropdown-item" href="account-payment-method.html">Payment
                                        Method</a></li>
                                <li><a class="dropdown-item" href="account-notification.html">Notification</a>
                                </li>
                            </ul>
                    </li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../dashboard/index.html">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown dropdown-flyout">
                        <a class="nav-link" href="#" id="navbarDropdownDocs" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Docs</a>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdownDocs">
                            <a class="dropdown-item align-items-start" href="../docs/index.html">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-file-text text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                                        <path
                                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                                    </svg>
                                </div>
                                <div class="ms-3 lh-1">
                                    <h6 class="mb-1">Documentations</h6>
                                    <p class="mb-0 small">Browse the all documentation</p>
                                </div>
                            </a>
                            <a class="dropdown-item align-items-start" href="../docs/changelog.html">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-layers text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M8.235 1.559a.5.5 0 0 0-.47 0l-7.5 4a.5.5 0 0 0 0 .882L3.188 8 .264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l2.922-1.559a.5.5 0 0 0 0-.882l-7.5-4zm3.515 7.008L14.438 10 8 13.433 1.562 10 4.25 8.567l3.515 1.874a.5.5 0 0 0 .47 0l3.515-1.874zM8 9.433 1.562 6 8 2.567 14.438 6 8 9.433z" />
                                    </svg>
                                </div>
                                <div class="ms-3 lh-1">
                                    <h6 class="mb-1">
                                        Changelog
                                        <span class="text-primary ms-1">v1.3.0</span>
                                    </h6>
                                    <p class="mb-0 small">See what's new</p>
                                </div>
                            </a>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>


{% endblock %}