{% block content %}
<!-- <div class="row align-items-center pt-2">
            <div class="col-xl-3 col-lg-8 col-7 d-flex">
                <div class="dropdown selectBox">
                    <a class="dropdown-toggle selectValue text-reset" href="javascript:void(0)"
                        data-bs-toggle="dropdown" aria-expanded="false">USD $</a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="javascript:void(0)">USD $</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">EUR €</a></li>
                    </ul>
                </div>
                <div class="ms-6">
                    <div class="dropdown selectBox">
                        <a class="dropdown-toggle selectValue text-reset" href="javascript:void(0)"
                            data-bs-toggle="dropdown" aria-expanded="false">English</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0)">English</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Espa&ntilde;ol</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Fran&ccedil;ais</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-9 col-lg-4 col-5 d-md-flex align-items-center justify-content-end">
                <a href="#" class="text-reset">Support</a>
                <a href="#" class="mx-md-8 ms-4 text-reset">Delivery</a>
                <a href="#" class="text-reset d-none d-md-block">Warranty</a>
                 Button
            </div>
        </div> -->
<header>
    <div class="container">

        <div class="row align-items-center pt-6 pb-4 mt-4 mt-lg-0">
            <div class="col-xl-2 col-md-3 mb-4 mb-md-0 col-12 text-center text-md-start">
                <a href="/" style="font-size: 1.5rem;">Super Luxury</a>
            </div>

            <div class="col-xxl-6 col-xl-5 col-lg-6 col-md-9">
                <form action="{% url 'search_by'%}" method="GET">
                    <div class="input-group">
                        <input class="form-control" type="search" name="keyword" placeholder="Search for products"
                            aria-label="Recipient's username" aria-describedby="button-addon2" />
                        <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-xxl-4 col-xl-5 col-lg-3 d-none d-lg-block">
                <div class="d-flex align-items-center justify-content-between ms-4">
                    <div class="text-center">
                        <div class="ms-6 text-center">
                            <a href="{% url 'user_message' %}" class="text-reset">
                                <div class="lh-1">
                                    <div class="position-relative d-inline-block mb-2">
                                        <i class="bi bi-bell fs-4"></i>
                                        {% if unread_count > 0 %}
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            {{unread_count}}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                        {% endif %}
                                    </div>
                                    <p class="mb-0 d-none d-xl-block small">Notification</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="{% url 'order_list'%}" class="text-reset">
                            <div class="lh-1">
                                <div class="mb-2">
                                    <i class="bi bi-archive fs-4"></i>
                                </div>
                                <p class="mb-0 d-none d-xl-block small">My Orders</p>
                            </div>
                        </a>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="{% url 'wishlist' %}" class="text-reset">
                            <div class="lh-1">
                                <div class="position-relative d-inline-block mb-2">
                                    <i class="bi bi-heart fs-4"></i>
                                    <!-- <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            1
                                            <span class="visually-hidden">unread messages</span>
                                        </span> -->
                                </div>
                                <p class="mb-0 d-none d-xl-block small">Wishlist</p>
                            </div>
                        </a>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="{% url 'cart' %}" class="text-reset">
                            <div class="lh-1">
                                <div class="position-relative d-inline-block mb-2">
                                    <i class="bi bi-cart fs-4"></i>

                                </div>
                                <p class="mb-0 d-none d-xl-block small">Shopping Cart</p>
                            </div>
                        </a>
                    </div>
                    <div class="ms-6 text-center">
                        <a href="#" class="text-reset" data-bs-toggle="modal" data-bs-target="#userModal">
                            <div class="lh-1">
                                <div class="mb-2">
                                    <i class="bi bi-chat-square-text-fill fs-4"></i>
                                </div>
                                <p class="mb-0 d-none d-xl-block small">Review</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light navbar-default p-0 p-sm-0 navbar-offcanvas-color"
    aria-label="Offcanvas navbar large">
    <div class="container">
        <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
            <div class="offcanvas-header pb-1">
                <a href="index.html"><img src="../assets/images/logo/freshcart-logo.svg"
                        alt="eCommerce HTML Template" /></a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul class="navbar-nav align-items-center">
                        <li class="dropdown me-6 d-none d-lg-block">
                            <a href="#" class="text-inherit" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-text-left me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
                                    </path>
                                </svg>
                                All Categories
                            </a>

                            <ul class="dropdown-menu dropdown-menu-lg">
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>


                                            <span class="ms-1">Street &amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="{% url 'categorylist' 'Nike'%}"
                                                        class="dropdown-item">Nike</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Converse'%}"
                                                        class="dropdown-item">Converse
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Adidas'%}"
                                                        class="dropdown-item">Adidas</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Jordan'%}"
                                                        class="dropdown-item">Jordan</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Puma'%}"
                                                        class="dropdown-item">Puma</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Vans'%}"
                                                        class="dropdown-item">Vans</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Salomon'%}"
                                                        class="dropdown-item">Salomon</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>


                                            <span class="ms-1">Sport &amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="#" class="dropdown-item"></a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Nike'%}"
                                                        class="dropdown-item">Nike</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Adidas'%}"
                                                        class="dropdown-item">Adidas</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'New Balance'%}"
                                                        class="dropdown-item">New Balance</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Asics'%}"
                                                        class="dropdown-item">Asics</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Reebok'%}"
                                                        class="dropdown-item">Reebok</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Skechers'%}"
                                                        class="dropdown-item">Skechers</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>


                                            <span class="ms-1">Style&amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="{% url 'categorylist' 'Gucci'%}"
                                                        class="dropdown-item">Gucci</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Martin'%}" class="dropdown-item">D's
                                                        Martin</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Converse'%}"
                                                        class="dropdown-item">Converse</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Loewe'%}"
                                                        class="dropdown-item">Loewe</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Prada'%}"
                                                        class="dropdown-item">Prada</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Skechers'%}"
                                                        class="dropdown-item">Hoka</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Vans'%}"
                                                        class="dropdown-item">Vans</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Golden Goose'%}"
                                                        class="dropdown-item">Golden Goose</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-menu-list">
                                    <a href="javascript:void(0)"
                                        class="dropdown-item d-flex justify-content-between mb-1 py-1">
                                        <div>


                                            <span class="ms-1">Luxury &amp; Fashion</span>
                                        </div>
                                        <div>
                                            <i class="feather-icon icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <div class="dropdown-menu-list-submenu">
                                        <div>
                                            <ul class="list-unstyled" style="margin-left: 60px;">
                                                <li>
                                                    <a href="{% url 'categorylist' 'Gucci'%}"
                                                        class="dropdown-item">Gucci</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Balenciaga'%}"
                                                        class="dropdown-item">Balenciaga</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Vans Projects'%}"
                                                        class="dropdown-item">Common
                                                        Projects</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Christian Louboutin'%}"
                                                        class="dropdown-item">Christian
                                                        Louboutin</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Alexander McQueen'%}"
                                                        class="dropdown-item">Alexander
                                                        McQueen</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Burberry'%}"
                                                        class="dropdown-item">Burberry</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'categorylist' 'Off-White'%}"
                                                        class="dropdown-item">Off-White</a>
                                                </li>
                                            </ul>
                                        </div>


                                    </div>
                                </li>
                        </li>

                    </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/" aria-expanded="false">Home</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'about'%}" aria-expanded="false">About</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'productlist'%}" aria-expanded="false">Shops</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'contact'%}" aria-expanded="false">Contact</a>

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'review'%}" aria-expanded="false">Review</a>

                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Account</a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'logout'%}">Sign Out</a></li>
                            <li><a class="dropdown-item" href="{% url 'change_pass'%}">Change Passwprd</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'login' %}">Sign In</a></li>
                            {% endif %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="account-orders.html">Orders</a></li>
                                <li><a class="dropdown-item" href="account-settings.html">Settings</a></li>
                                <li><a class="dropdown-item" href="account-address.html">Address</a></li>
                                <li><a class="dropdown-item" href="account-payment-method.html">Payment
                                        Method</a></li>
                                <li><a class="dropdown-item" href="account-notification.html">Notification</a>
                                </li>
                            </ul>
                    </li>
                    </ul>
                    </li>

                    <li class="nav-item dropdown dropdown-flyout">
                        <a class="nav-link" href="#" id="navbarDropdownDocs" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Docs</a>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarDropdownDocs">
                            <a class="dropdown-item align-items-start" href="{% url 'doc'%}">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                        class="bi bi-file-text text-primary" viewBox="0 0 16 16">
                                        <path
                                            d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                                        <path
                                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                                    </svg>
                                </div>
                                <div class="ms-3 lh-1">
                                    <h6 class="mb-1">Documentations</h6>
                                    <p class="mb-0 small">Browse the all documentation</p>
                                </div>
                            </a>

                        </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header border-0">
                <h5 class="modal-title fs-3 fw-bold" id="userModalLabel">Review & Rating</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'review_create'%}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="text" class="form-label">Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Enter  Username"
                            required="" />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email address"
                            required="" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="contactTearea">Reviews</label>
                        <textarea style="resize: none;" name=" content_rev" rows="3" id="contactTearea" class="form-control" name="message"
                            placeholder="Enter Reviews" required></textarea>

                    </div>
                    <div class="mb-3">
                        <select name="rating" class="form-select">

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>

                    </div>

                    <button type="submit" class="btn btn-primary text-center">Now Book</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}