{% extends 'base.html'%}
{% block title %}About Page{% endblock %}
{% block content %}
{% include 'navbar.html'%}
<section class="mt-lg-14 mt-8">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-10 col-12">
                <div class="row align-items-center mb-14">
                    <div class="col-md-6">
                        <!-- text -->
                        <div class="ms-xxl-14 me-xxl-15 mb-8 mb-md-0 text-center text-md-start">
                            <h1 class="mb-6">About Us</h1>
                            <p class="mb-0 lead">sneaker details include a variety of materials like leather, foam, and rubber, with modern shoes often using lightweight fabrics. Key features across different models include comfort technologies like Nike's Dynamic Air, performance-driven designs for sports, and a wide range of styles from classic retro to modern lifestyle silhouettes. Specific model examples include the Air Max Dn8, Shox R4, Dunk Low, and Air Max 90. </p>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-md-6">
                        <div>
                            <!-- img -->
                            <img src="../../media/uploads/product/shoes.jpg" alt="" class="img-fluid rounded" />
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row mb-12">
                    <div class="col-12">
                        <div class="mb-8">
                            <!-- heading -->
                            <h2>Our Shop?</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- card -->
                        <div class="card bg-light mb-6 border-0">
                            <!-- card body -->
                            <div class="card-body p-8">
                                <div class="mb-4">
                                    <!-- img -->
                                    <img src="../../media/uploads/product/shop1.png" alt="" width="100"/>
                                </div>
                                <h4>Hlaing Shop</h4>
                                <p>Duis placerat, urna ut dictum lobortis, erat libero feugiat nulla, ullamcorper
                                    fermentum lectus dolor ut tortor.</p>
                                <!-- btn -->
                                <a href="#" class="btn btn-dark mt-2">Our Shop-1</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- card -->
                        <div class="card bg-light mb-6 border-0">
                            <!-- card body -->
                            <div class="card-body p-8">
                                <div class="mb-4">
                                    <!-- img -->
                                    <img src="../../media/uploads/product/pngtree-removebg-preview.png" alt="" width="100"/>
                                </div>
                                <h4>Sule Shop</h4>
                                <p>Duis placerat, urna ut dictum lobortis, erat libero feugiat nulla, ullamcorper
                                    fermentum lectus dolor ut tortor.</p>
                                <!-- btn -->
                                <a href="#" class="btn btn-dark mt-2">Our Shop-2</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- card -->
                        <div class="card bg-light mb-6 border-0">
                            <!-- card body -->
                            <div class="card-body p-8">
                                <div class="mb-4">
                                    <!-- img -->
                                    <img src="../../media/uploads/product/images__16_-removebg-preview.png" alt="" width="100"/>
                                </div>
                                <h4>Hlaing Thar Yar Shop</h4>
                                <p>Vivamus non risus id sapien egestas tempus id sed lla mus justo metus, suscipit non
                                    hendrerit.</p>
                                <!-- btn -->
                                <a href="#" class="btn btn-dark mt-2">Our Shop-3</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- text -->
                        <p>
                            For assistance using Freshcart services, please visit our
                            <a href="#">Help Center</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html'%}
{% endblock %}