{% extends 'base.html'%}
{% block title %}Doc Page{% endblock %}
{% block content %}
{% include 'navbar.html'%}

<div class="container mt-4">
    <div class="card mb-3 shadow-sm">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div>

                <p style="color: #000; font-size: 20px;">
                    Cartထဲ ပစ္စည်းထည့်ပြီးပါက orderပေးချေရမည့်နေရာ checkout formကိုဖြည့်ရာတွင် payments successဆိုတာ
                    ကိုပေးချေမည့် payment ကို အောက်တွင်choiceပြီး သက်ဆိုင်ရာ payတွင်ငွေလွဲပြီး အောင်မြင်ကြောင်းပြေစာကို
                    ထည့်ပေးရမယ် payment successနေရာတွင် pincodeတွင် ကိုယ့်မှာယူမည့်productတွင်ပါသော codeကိုထည့်ရမယ်
                </p>

            </div>

        </div>
    </div>

</div>
{% endblock %}