{% extends 'base.html'%}
{% block title %}Admin Order Item {% endblock %}
{% block content %}
{% include 'sider.html'%}
<div class="main-wrapper" style="margin-left: 270px;">
	<main class="main-content-wrapper">
		<div class="container">
			<!-- row -->
			<div class="row mb-8">
				<div class="col-md-12">
					<!-- page header -->
					<div>
						<h2>Order Item List</h2>
						<!-- breacrumb -->

					</div>
				</div>
			</div>
			<!-- row -->
			<div class="row">
				<div class="col-xl-12 col-12 mb-5">
					<!-- card -->
					<div class="card h-100 card-lg">
						<div class="p-6">
							<div class="row justify-content-between">
								<div class="col-md-4 col-12 mb-2 mb-md-0">
									<!-- form -->
									<form class="d-flex" role="search">
										<input class="form-control" type="search" placeholder="Search"
											aria-label="Search" />
									</form>
								</div>

							</div>
						</div>
						<!-- card body -->
						<div class="card-body p-0">
							<!-- table responsive -->
							<div class="table-responsive">
								<table
									class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
									<thead class="bg-light">
										<tr>
											<th>No</th>
                                        
											<th>Name</th>
											<th>Image</th>
											<th>Qty</th>
											<th>Price</th>
                                            <th>TotalPrice</th>
                                            <th>PinCode</th>
                                            <th>Email</th>
                                            <th>Size</th>
                                            <th>Action</th>
											
										</tr>
									</thead>
									<tbody>
										{% for orderitem in orderitems %}
										<tr>
											<td>{{forloop.counter}}</td>
											
											<td>{{orderitem.product.name}}</td>
											<td><img src="{{orderitem.product.image.url}}" alt="" width="50"></td>
											<td>{{orderitem.quantity}}</td>
                                            <td>${{orderitem.price}}/-</td>
                                            <td>${{orderitem.order.total_price}}/-</td>
											<td>{{orderitem.order.pincode}}</td>
                                            <td>{{orderitem.order.email}}</td>
                                            <td>{{orderitem.order.size}}</td>
											<td>
												   <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ order.id }}">Delete</button>
											</td>
										</tr>
										{% endfor %}

									</tbody>
								</table>
							</div>
						</div>
						<div class="border-top d-md-flex justify-content-between align-items-center p-6">
							<span>Showing 1 to 8 of 12 entries</span>
							<nav class="mt-2 mt-md-0">
								<ul class="pagination mb-0">
									<li class="page-item disabled"><a class="page-link" href="#!">Previous</a></li>
									<li class="page-item"><a class="page-link active" href="#!">1</a></li>
									<li class="page-item"><a class="page-link" href="#!">2</a></li>
									<li class="page-item"><a class="page-link" href="#!">3</a></li>
									<li class="page-item"><a class="page-link" href="#!">Next</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
{% for order in orders %}
<div class="modal fade" id="deleteModal_{{ order.id }}" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-0 shadow">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="POST" action="{% url 'order_delete' order.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    Are you sure you want to delete <strong>{{ order.id }}</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}